<div class="row" style="padding-left: 2%;">

  <!-- First division -->
  <div class="col-md-6">

  <!-- First row of first division(col-md-6)-->
    <div class="row">
      <table border="1" style="width: 95%;">

        <% hidden_field_tag "sea_report_id",  @sea_report.id %>
        <tr>
          <td class="f-size-8">Main Engines</td>
          <td class="f-size-8">Power,KW</td>
          <td class="f-size-8">Load (in % MCR)</td>

          <td class="f-size-8">Hours</td>

          <td class="f-size-8">RPM</td>      
          <td class="f-size-8">TC cut-out</td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 93% !important;">M.E</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 72px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 72px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 72px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 72px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 72px;">
          </td>
        </tr>

        <tr>
          <td colspan = "5" class="font-set-readonly">
            Total/Average in period(KW)
          </td>
          <td class="font-set-readonly">
            3971
          </td>
        </tr>

        <tr>
          <td colspan = "5" class="font-set-readonly">
            ME SFOC(g/KWh) @ 40290 (KJ/Kg)
          </td>
          <td class="font-set-readonly">
            195.2
          </td>
        </tr>

      </table>
    </div>

    <br><br>


  <!-- Second row of first division(col-md-6)-->
    <div class="row">
      <table border="1" style="width: 95%;">

        <% hidden_field_tag "sea_report_id",  @sea_report.id %>
        <tr>
          <td class="f-size-8">Oil properties</td>
          <td class="f-size-8">H.S.HFO</td>

          <td class="f-size-8">L.S.HFO</td>

          <td class="f-size-8">H.S.MDO</td>      
          <td class="f-size-8">L.S.MDO</td>
          <td class="f-size-8"></td>

        </tr>

        <tr>
          <td class="f-size-8" style="width: 93% !important;">LCV KJ/Kg</td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 87px;">
          </td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 93% !important;">Sulphur %</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 87px;">
          </td>
        </tr>


      </table>
    </div>

    <br><br>

    <!-- Third row of first division(col-md-6)-->
    <div class="row">

      <div style="text-align: right; width: 95%;">
        All quantities should be entered in tons
      </div>

      <table border="1" style="width: 95%;">

        <% hidden_field_tag "sea_report_id",  @sea_report.id %>
        <tr>
          <td class="f-size-8">Oil Consumers</td>
          <td class="f-size-8">H.S.HFO</td>

          <td class="f-size-8">L.S.HFO</td>

          <td class="f-size-8">H.S.MDO</td>      
          <td class="f-size-8">L.S.MDO</td>
          <td class="f-size-8">Sludge</td>

        </tr>
        <tr>
          <td class="f-size-8" style="width: 93%">M.E</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="wea
            ther__observation_smt"required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>


          <td>
          </td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 93% !important;">Aux Engg.</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>

          <td>
          </td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 93% !important;">Boiler</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 87px;">
          </td>
        </tr>

        <tr>
          <td class="font-set-readonly">
            Total
          </td>
          <td class="font-set-readonly">
            19.30
          </td>
          <td class="font-set-readonly">
            00.00
          </td>
          <td class="font-set-readonly">
            00.00
          </td>
          <td class="font-set-readonly">
            00.00
          </td>
          <td class="font-set-readonly">
            00.00
          </td>
        </tr>

      </table>
    </div>

    <br><br>




  <!-- End of first division -->
  </div> 

  <!-- Second division -->
  <div class="col-md-6">

  <!-- Second row of second division(col-md-6)-->
    <div class="row">
      <table border="1" style="width: 95%;">

        <% hidden_field_tag "sea_report_id",  @sea_report.id %>
        <tr>
          <td class="f-size-8" style="width: 38% !important;">Electrical Generators</td>
          <td class="f-size-8" style="width: 38% !important;">Power prod., KWh</td>

          <td class="f-size-8" style="width: 38% !important;">Run. Hours</td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 42% !important;">Aux Eng 1</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 164px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 152px;">
          </td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 42% !important;">Aux Eng 2</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 164px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 152px;">
          </td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 42% !important;">Aux Eng 3</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 164px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 152px;">
          </td>
        </tr>


        <tr>
          <td class="f-size-8" style="width: 42% !important;">Aux Eng 4</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 164px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 152px;">
          </td>
        </tr>

        <tr>
          <td colspan = "2" class="font-set-readonly">
            Total power production(kWh)
          </td>
          <td class="font-set-readonly">
            3971
          </td>
        </tr>

      </table>

      <br><br>
      <!-- Second table of second division -->

      <table border="1" style="width: 95%;">

        <% hidden_field_tag "sea_report_id",  @sea_report.id %>
        <tr>
          <td class="f-size-8" style="width: 38% !important;">Electrical Consumers</td>
          <td class="f-size-8" style="width: 38% !important;">Power cons., KWh</td>

          <td class="f-size-8" style="width: 38% !important;">No. of Reefers</td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 42% !important;">Reefers</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 164px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 152px;">
          </td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 42% !important;">Reefer Cargo Hold..</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 164px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 152px;">
          </td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 42% !important;">Auxiliary Blowers</td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 164px;">
          </td>
          <td>
          </td>
        </tr>

        <tr>
          <td colspan = "2" class="font-set-readonly">
            Total power consumption(kWh)
          </td>
          <td class="font-set-readonly">
            2121
          </td>
        </tr>

        <tr>
          <td colspan = "2" class="font-set-readonly">
            AE SFOC(g/kWh)
          </td>
          <td class="font-set-readonly">
            2121
          </td>
        </tr>

        <tr>
          <td colspan = "2" class="font-set-readonly">
            Basic Load at 20&deg;C(kW)
          </td>
          <td class="font-set-readonly">
            2121
          </td>
        </tr>

        <tr>
          <td colspan = "2" class="font-set-readonly">
            Reference, class average(kW)
          </td>
          <td class="font-set-readonly">
            2121
          </td>
        </tr>

      </table>



    </div>
    <br><br>

  <!-- End of second division -->
  </div>

<!-- End of main Row -->
</div>