<div class="row" style="padding-left: 2%;">

  <!-- First division -->
  <div class="col-md-6">

  <!-- First row of first division(col-md-6)-->
    <div class="row">
      <table border="1" style="width: 95%;">

        <% hidden_field_tag "sea_report_id",  @sea_report.id %>
        <tr>
          <td class="f-size-8">Main Engines</td>
          <td class="f-size-8">Power,KW</td>

          <td class="f-size-8">Hours</td>

          <td class="f-size-8">RPM</td>      
          <td class="f-size-8">TC cut-out</td>
        </tr>

        <tr>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" value="M.E" required="required" style="width: 91px;" readonly="true">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 88px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 68px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 87px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 95px;">
          </td>
        </tr>
      </table>
    </div>

    <br><br>


  <!-- Second row of first division(col-md-6)-->
    <div class="row">
      <table border="1" style="width: 95%;">

        <% hidden_field_tag "sea_report_id",  @sea_report.id %>
        <tr>
          <td class="f-size-8">Oil properties</td>
          <td class="f-size-8">H.S.HFO</td>

          <td class="f-size-8">L.S.HFO</td>

          <td class="f-size-8">H.S.MDO</td>      
          <td class="f-size-8">L.S.MDO</td>
          <td class="f-size-8">TC cut-out</td>

        </tr>

        <tr>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" value="LCV KJ/Kg" required="required" style="width: 91px;" readonly="true">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 87px;">
          </td>
        </tr>

        <tr>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" value="Sulphur %" required="required" style="width: 91px;" readonly="true">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 87px;">
          </td>
        </tr>


      </table>
    </div>

    <br><br>

  <!-- Third row of first division(col-md-6)-->
    <div class="row">
      <table border="1" style="width: 95%;">

        <% hidden_field_tag "sea_report_id",  @sea_report.id %>
        <tr>
          <td class="f-size-8">Oil Consumers</td>
          <td class="f-size-8">H.S.HFO</td>

          <td class="f-size-8">L.S.HFO</td>

          <td class="f-size-8">H.S.MDO</td>      
          <td class="f-size-8">L.S.MDO</td>
          <td class="f-size-8">Sludge</td>

        </tr>
        <tr>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" value ="M.E" required="required" style="width: 91px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="wea
            ther__observation_smt"required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 87px;">
          </td>
        </tr>

        <tr>

          <td>
            <input type="text" name="weather[][observation_smt]" value ="Aux Engg." id="weather__observation_smt" required="required" style="width: 91px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 87px;">
          </td>
        </tr>

        <tr>

          <td>
            <input type="text" name="weather[][observation_smt]" value ="Boiler" id="weather__observation_smt" required="required" style="width: 91px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 60px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>
          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 64px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 63px;">
          </td>

          <td>
            <input type="text" name="weather[][observation_smt]" id="weather__observation_smt" required="required" style="width: 87px;">
          </td>
        </tr>

      </table>
    </div>

    <br><br>




  <!-- End of first division -->
  </div> 

  <!-- Second division -->
  <div class="col-md-6">

  <!-- First row of second division(col-md-6)-->
    <div class="row">
      <table border="1" style="width: 95%;">

        <% hidden_field_tag "sea_report_id",  @sea_report.id %>
        <tr>
          <td class="f-size-8">Main Engines</td>
          <td class="f-size-8">Power,KW</td>

          <td class="f-size-8">Hours</td>

          <td class="f-size-8">RPM</td>      
          <td class="f-size-8">TC cut-out</td>
        </tr>
      </table>
    </div>
    <br><br>

  <!-- End of second division -->
  </div>

<!-- End of main Row -->
</div>