<!-- Headings of the passage plan table -->

<tr>
  <td colspan="8" class="font_size-10">PLEASE ENTER THE BERTH TO BERTH CO-ORDINATES IN THE BELOW ROWS ONLY </td>
</tr>

<tr>
  <td colspan="3" class="font_size-10">Latitude</td>
  <td colspan="3" class="font_size-10">Longitude</td>
</tr>

<tr>
  <td class="font_size-10"> 0-90 </td>
  <td class="font_size-10"> 0.00-59.99 </td>
  <td class="font_size-10"> Direction </td>

  <td class="font_size-10"> 0-180 </td>
  <td class="font_size-10"> 0.00-59.99 </td>
  <td class="font_size-10"> Direction </td>
</tr>

<tr>
  <td class="font_size-10"> DEGREES </td>
  <td class="font_size-10">
   MINUTES
   <br>(DECIMAL)
  </td>
  <td class="font_size-10"> (N OR S) </td>

  <td class="font_size-10"> DEGREES </td>
  <td class="font_size-10">
   MINUTES
   <br> (DECIMAL) 
  </td>
  <td class="font_size-10"> (E OR W) </td>
  <td class="font_size-10"> (RL/GC) </td>
  <td class="font_size-10"> Waypoint </td>
  <td class="font_size-10">
   Start of<br> sea passage
  </td>
  <td class="font_size-10">
   End of<br> sea passage
  </td>

</tr>
