
<%= form_tag create_multiple_weather_distances_path(@sea_report.id), :method => :post do %>

  <%= render "weather_distances/first_new_observation" %>

  <br><br>

  <%= render "weather_distances/second_new_observation" %>

	<br><br>
	<%= submit_tag 'Update Weather and Distance report' %>
  <button type="button" id="new_weather_observation">Add new Observation</button>
  <br>
<% end %>
