# Sea report is closed and passage is also successfully closed.



# IMO number
# Report period where to show

=========================================================
#Todo close the report and update its time

# Sea passage closing time ?
# CLosing time should be greater than starting time.
# # 